<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.github.cppfw.ruisapp">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        />

    <application tools:node="merge">
        <activity
            android:name=".RuisappActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar"
            android:hasCode="true"
            android:windowSoftInputMode="adjustNothing"
            >
            <meta-data
                android:name="android.app.lib_name"
                android:value="ruisapp_application"
                />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
